@CHARSET "UTF-8";

.login_area_title {
	width: 100%;
	height: 25%;
}
.no-scrollbar {
	overflow: hidden;
}

#site_name > img {
    width: inherit !important;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#site_login form.form-horizontal {
	padding: 12% 0;
    background-color: #e0ffff;
}

#site_login .form-horizontal .form-group:nth-child(1) >label {
    font-weight: bold;
}

#site_login .form-horizontal .form-group:nth-child(1),
#site_login .form-horizontal .form-group:nth-child(2),
#site_login .form-horizontal .form-group:nth-child(3),
#site_login .form-horizontal .form-group:nth-child(4) {
    padding: 3% 6% 0 6%;
    height: 12%;
}

#site_login .form-horizontal .form-group:nth-child(2) >div:first-child,
#site_login .form-horizontal .form-group:nth-child(3) >div:first-child {
    border: 1px solid #abb4bb;
    border-radius: 10px;
    padding: 0px;
}

#layerMsg {
	top: 20%;
}